<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css?after">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/static/function.js?after" type="text/javascript"></script>
    <meta charset="UTF-8">
    <title>WPL_HW3</title>
</head>

<body>
    <div class="container">
        <form class="Login">
            <input id="userId" type="text" placeholder="Put User ID" required/>
            <input id="LoginBtn" type="submit" value="Enter"/>
        </form>
        
        <div class = "page_container">
            <div class="kakao" id="sender"></div>

            <div class="input_area">
                <textarea class="text" id ="sender_text"></textarea>
                <button type="submit" name="sender_button">Send</button>
            </div>
        </div>
    </div>
</body>
</html>